node_modules
libcef.dll
data
modules
resources/default/dist
.vscode
update.json
*.log
cache/
crashdumps/
resources-example
build/
dist
logs
.npm
.env
package-lock.json
libnode.dll
altv-server/node_modules/*
altv-server/node_modules/i/
altv-server/node_modules/npm/